/*#home_intro{
	padding-top: 150px;
	padding-left: 90px;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif

}

#name_title{
	padding-left: 80px;
	color: #ff9e99;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif

}

#about_me{
	font-size: 30px

	Poppins 
	Montesserat 
	PtSans 
	Cabin

}*/



header > h1 { display: inline-block; }
header span { margin-left: 100px; /*line-height: 30px;*/ color: #234099;}

.navbar li a{
	color: #234099;
}
.main{
	float: left;
	padding-left: 100px;
	/*padding-right: 500px;*/
}

h2,h3,h5{
	/*color: #fbeee4 Benjamin Moore Softwhite;*/
	/*color: white;*/
	/*color: #348017;*/
	color: #474747;
	line-height: 150%;
	padding-top: 60px;
}

 /*#BF8E91 deep pink
 #F7CAC9  milen pink*/
h1 { color: #234099; padding-left: 100px;}
p {font-size: 40px; }

.name_header{
	padding-right:40px;
	float: left;
}

html { height: 100%; } /*stretch gradient*/

body{
	font-weight: 300;
	/*font-family: 'Lato', sans-serif;*/
	/*font-family: 'Muli', sans-serif;*/
	font-family: 'Ubuntu', sans-serif;

	/*gradient background and stretching*/
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.socials li,a{

	/*color:pink*/
	color: black;
}

.footer p a{
	color: #234099;
	font-size: 10px;
	padding-top: 40px;
	padding-left: 100px;
}